<div class="container">
    <h2>Mensajes recibidos</h2>
    {% if mensajes %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mensaje</th>
                <th>De</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje[0] }}</td>
                <td>{{ mensaje[1] }} {{ mensaje[2] }}</td>
                <td>{{ mensaje[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No has recibido mensajes.</p>
    {% endif %}
</div>
